{% extends 'base.html.twig' %}

{% block title %}ReferenciaCompra index{% endblock %}

{% block body %}
    <h1>ReferenciaCompra index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Proveedor</th>
                <th>Descripcion</th>
                <th>Referencia</th>
                <th>Cantidad</th>
                <th>Foto1</th>
                <th>Foto2</th>
                <th>Foto3</th>
                <th>ActualizadoEn</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for referencia_compra in referencia_compras %}
            <tr>
                <td>{{ referencia_compra.id }}</td>
                <td>{{ referencia_compra.proveedor }}</td>
                <td>{{ referencia_compra.descripcion }}</td>
                <td>{{ referencia_compra.referencia }}</td>
                <td>{{ referencia_compra.cantidad }}</td>
                <td>{{ referencia_compra.foto1 }}</td>
                <td>{{ referencia_compra.foto2 }}</td>
                <td>{{ referencia_compra.foto3 }}</td>
                <td>{{ referencia_compra.actualizadoEn ? referencia_compra.actualizadoEn|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_referencia_compra_show', {'id': referencia_compra.id}) }}">show</a>
                    <a href="{{ path('app_referencia_compra_edit', {'id': referencia_compra.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_referencia_compra_new') }}">Create new</a>
{% endblock %}
