{% extends 'base.html.twig' %}

{% block title %}Consumo index{% endblock %}

{% block body %}
    <h1>Consumo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cantidad</th>
                <th>Frecuencia</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for consumo in consumos %}
            <tr>
                <td>{{ consumo.id }}</td>
                <td>{{ consumo.cantidad }}</td>
                <td>{{ consumo.frecuencia }}</td>
                <td>
                    <a href="{{ path('app_consumo_show', {'id': consumo.id}) }}">show</a>
                    <a href="{{ path('app_consumo_edit', {'id': consumo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_consumo_new') }}">Create new</a>
{% endblock %}
