

{{ form_start(form , {'action': app.request.uri}) }}
<input type="hidden" name="_csrf_token" value="{{ csrf_token('form_action') }}">
<div class="container card border-left-warning">
    <div class="form-group row">
        <div class="col-md-4">
            {{ form_label(form.nombre) }} <br>
            {{ form_widget(form.nombre) }}
        </div>
        <div class="col-md-4">
            {{ form_label(form.tipoProducto) }} <br>
            {{ form_widget(form.tipoProducto) }}
        </div>
        <div class="col-md-4">
            {{ form_label(form.producto.idReferencia) }} <br>
            {{ form_widget(form.producto.idReferencia) }}
        </div>


    </div>
    <div class="form-group row">
        <div class="col-md-4">
            {{ form_label(form.descripcion) }} <br>
            {{ form_widget(form.descripcion) }}
        </div>
        <div class="col-md-4">
            {{ form_label(form.precio) }} <br>
            {{ form_widget(form.precio) }}
        </div>
        <div class="col-md-4">
            {{ form_label(form.unidadMedida) }} <br>
            {{ form_widget(form.unidadMedida) }}
        </div>
    </div>
    <div class="form-group row mt-3">
        <div class="col-md-12 text-center">
            {{ form_rest(form) }} {# Asegura que el CSRF token está incluido #}
            <button class="btn btn-primary">{{ button_label|default('Guardar') }}</button>
        </div>
    </div>
</div>
{{ form_end(form) }}